a:link { color:blue; } /* links não visitados */
a #l1 #l2 #l3 #l4 #l5 #l6 :visited { color:maroon;  } /* links visitados */
a:hover { color:yellow;  } /* passar o mouse por cima */
a:active { color:darkgreen; } /* quando mantem o mouse precionado */
