ul{
	list-style-type:none;
	margin: 0;
	padding:0;
	width: 500px;
	background-color: #f1f1f1;
	overflow: hidden;
}

li{
	float: left;
	width: 25%;
}

li a{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	display: block;
	text-align: center;
	padding: 9px 0px;
	text-decoration: none;
}

li a:hover{
	background-image: url("Sprite_g.jpg");
}